p {
    font-family: $font-sans;
    color: black;
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

// .large,
// big {
// 	font-family: $font-serif;
// 	color: $color-deep-navy;
// 	font-size: 2.4rem;
// 	font-size: clamp(2.2rem, 2.057rem + 0.238vw, 2.4rem);
// 	line-height: 140%;
// 	font-weight: 600;
// 	margin-bottom: 1.8rem;
// }

.small,
small {
    font-family: $font-sans;
    color: black;
    font-size: 1.4rem;
    line-height: 120%;
    font-weight: 400;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
}

// .label {
// 	font-family: $font-sans;
// 	color: $color-teal;
// 	font-size: 1.4rem;
// 	// font-size: clamp(1.2rem, 1.057rem + 0.238vw, 1.4rem);
// 	line-height: 120%;
// 	font-weight: 500;
// 	margin-bottom: 1.8rem;
// 	text-transform: uppercase;
// }

// dfn,
// cite,
// em,
// i {
// 	font-style: italic;
// }

// blockquote,
// .pull-quote {
// 	font-family: $font-serif;
// 	color: $color-deep-navy;
// 	font-size: 2.8rem;
// 	font-size: clamp(2.4rem, 2.114rem + 0.476vw, 2.8rem);
// 	line-height: 160%;
// 	font-weight: 600;
// 	font-style: italic;
// 	margin-bottom: 2.4rem;
// }

// address {
// 	font-family: $font-sans;
// 	color: $color-deep-navy;
// 	font-size: 1.8rem;
// 	font-size: clamp(1.6rem, 1.457rem + 0.238vw, 1.8rem);
// 	line-height: 180%;
// 	font-weight: 400;
// 	margin-bottom: 1.8rem;
// 	font-style: normal;
// }

// pre {
// 	// background: #eee;
// 	// font-family: "Courier 10 Pitch", courier, monospace;
// 	// line-height: 1.6;
// 	// margin-bottom: 1.6em;
// 	// max-width: 100%;
// 	// overflow: auto;
// 	// padding: 1.6em;
// }

// code,
// kbd,
// tt,
// var {
// 	// font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
// }

// abbr,
// acronym {
// 	// border-bottom: 1px dotted #666;
// 	cursor: help;
// }

// mark,
// ins {
// 	// background: #fff9c0;
// 	text-decoration: none;
// }