p {
    font-family: $font-sans;
    color: black;
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

.small,
small {
    font-family: $font-sans;
    color: black;
    font-size: 1.4rem;
    line-height: 120%;
    font-weight: 400;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
}